<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Перевод</title>
</head>
<body>
<div th:fragment="history(activeTab)">
    <div th:replace="~{navigation :: navigation(History)}"/>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">Перевод совершнен</div>
            </div>

            <form th:action="@{/refill}" th:object="${operation}" method="post">

                <label for="operationSum" class="control-label">Сумма</label> <input
                    id="operationSum" class="form-control" th:field="*{operationSum}" />

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Пополнить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>